{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
  {% if articles %}
  {% set cat = 'members' %}
    <div class = "container">
      ds{{category}}xx
        {% if category == 'members' or category == 'associates' or cat == 'members' or category == cat %}
        <p id="printlogo">
          <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/ba-logo2.png" height="200" width="200" class="img-responsive" alt="...">
        </p>
              <div class="panel panel-default">
                <div class="panel-heading">
                  {% if category == 'members'%}
                    <h2>Members</h2>
                  {% else %}
                    <h2>Associates</h2>
                  {% endif %}
                </div>
              </div>
              {% for article in articles_page.object_list|sort(attribute='surname') %}
        				<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" id="printphoto">
        				  <div class="thumbnail">
                    <a href="{{ SITEURL }}/{{ article.url }}">
                      {% if article.photo %}
                      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{{ article.photo }}" style="height:150px" class="img-responsive" alt="...">
                      {% else %}
                      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/lamp.png" style="height:150px" class="img-responsive" alt="...">
                      {% endif %}
            					<div id="px1" class="caption">
                        <h5>{% if article.memb_title %}{{article.memb_title}}{% endif %} {{article.surname}} {% if article.id == 'm_dds' %} <b>(Group leader)</b> {% endif %}</h5>
            					  <h5>{{article.givenname}} <span class="glyphicon glyphicon-new-window pull-right"></span></h5>
            					</div>
                    </a>
        				  </div>
        				</div>
                {% endfor %}

        {% elif category == 'yearly reports'%}
                <div class="panel panel-default" id="px2">
                  <div class="panel-heading">
                    <h2>yearly reports</h2>
                  </div>
                  <ul class="list-group">
                    {% for article in articles_page.object_list %}
                       <a href="{{ SITEURL }}/{{article.url}}"><li class="list-group-item">Yearly Report {{article.title}}</li></a>
                    {% endfor %}
                  </ul>
                </div>
          {% else %}
              <p id="printlogo">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/ba-logo2.png" height="200" width="200" class="img-responsive" alt="...">
              </p>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h2>Projects</h2>
                  </div>
                </div>
                <div class="row">
              		<div class="hidden-xs hidden-sm col-md-3 col-lg-3 col-xl-3" id="printmenu">
              		  <nav id="myScrollspy" data-spy="affix" data-offset-top="50" style="position: fixed;width:200px">
                			<div class="panel panel-default">
                			  <div class="panel-heading">
                				Search by Category:
                			  </div>
                			  <ul class="nav nav-pills nav-stacked">
                						<li><a href="#Current">Current projects</a></li>
                						<li><a href="#Completed">Completed projects</a></li>
                			  </ul>
                			</div>
              		  </nav>
              		</div>
                  <div class="col-xs-12 col-sm-12 hidden-md hidden-lg hidden-xl" id="printmenu">
                    <nav>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                        Search by Category:
                        </div>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#Current">Current projects</a></li>
                            <li><a href="#Completed">Completed projects</a></li>
                        </ul>
                      </div>
                    </nav>
                  </div>

              		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9" id="printurl">
                       {% for i in range(2) %}
                            <div class="panel panel-default" id="px2">
                               {% if loop.first %}
                                 <div class="panel-heading">
                                   <h3 id="Current">Current projects</h3>
                                 </div>
                               {% else %}
                               <div class="panel-heading">
                                 <h3 id="Completed">Completed projects</h3>
                               </div>
                               {% endif%}
                             <div class="panel-body">
                               <ul class="list-group">
                                 <ul>
                                   {% for article in articles|sort(attribute='title') %}
                                    {% if article.category == 'projects' and article.completed == i|string %}
                                    <p>
                                     <li>{{ article.shortname }} &mdash; {{article.projtitle}} <a href="{{ SITEURL }}/{{ article.url }}"><span class="glyphicon glyphicon-new-window"></span></a></li>
                                    </p>
                                    {% endif %}
                                   {% endfor %}
                                 </ul>
                               </ul>
                             </div>
                           </div>
                       {% endfor %}
              	 </div>
               </div>
          {% endif %}
    </div>
  {% endif %}
{% endblock content %}

{% block title %}{{ SITENAME }} {{ category }}{% endblock %}
