{% extends "base.html" %}
{% block title %}{{ SITENAME }} Publications{% endblock %}
{% block content %}

{% set publication_categories = ['Monographs and Edited Volumes','Journal Articles', 'Book Chapters', 'Conference Publications', 'Technical Reports','White Papers','Magazine Articles','Working Papers'] %}

<div class="container">
  <p id="printlogo">
    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/ba-logo2.png" height="200" width="200" class="img-responsive" alt="...">
  </p>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Publications</h2>
    </div>
  </div>
	<div class="row">
		<div class="hidden-xs hidden-sm col-md-3 col-lg-3 col-xl-3" id="printmenu">
		  <nav id="myScrollspy" data-spy="affix" data-offset-top="50" style="position: fixed;">
  			<div class="panel panel-default" >
  			  <div class="panel-heading">
  				Search by Category:
  			  </div>
          <ul class="nav nav-pills nav-stacked">
          {% for Category in publication_categories %}
              {% for key, year, text, url, XEmember, XEcategory, XEProject in publications %}
               {% if XEcategory == Category %}
                <li><a href="#{{Category.partition(' ')[0]}}">{{Category}}</a></li>
              {% break %}
             {% endif %}
            {% endfor %}
          {% endfor %}
          </ul>
  			</div>
		  </nav>
		</div>
    <div class="col-xs-12 col-sm-12 hidden-md hidden-lg hidden-xl" id="printmenu">
      <nav>
        <div class="panel panel-default" >
          <div class="panel-heading">
          Search by Category:
          </div>
          <ul class="nav nav-pills nav-stacked">
          {% for Category in publication_categories %}
              {% for key, year, text, url, XEmember, XEcategory, XEProject in publications %}
               {% if XEcategory == Category %}
                <li><a href="#{{Category.partition(' ')[0]}}">{{Category}}</a></li>
              {% break %}
             {% endif %}
            {% endfor %}
          {% endfor %}
          </ul>
        </div>
      </nav>
    </div>
		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9" id="printurl">
      {% for Category in publication_categories %}
             <div class="panel panel-default" id="px2">
               {% for key, year, text, url, XEmember, XEcategory, XEProject in publications %}
                {% if XEcategory == Category %}
                     <div class="panel-heading">
                       <h3 id="{{Category.partition(' ')[0]}}">{{Category}}</h3>
                     </div>
                     {% break %}
                {% endif %}
               {% endfor %}
               <div class="panel-body">
                 <ul class="list-group">
                   <ul>
                     {% for key, year, text, url, XEmember, XEcategory, XEProject in publications %}
                      {% if XEcategory == Category %}
                         <p>
                         <li>{{ text }} {% if url %} <a href="{{ url }}"><span class="glyphicon glyphicon-new-window"></span></a> {% endif %} </li>
                        </p>
                      {% endif %}
                     {% endfor %}
                   </ul>
                 </ul>
               </div>
             </div>
      {% endfor %}
	 </div>
	</div>
</div>
{% endblock %}
