{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
  <div class="container">
    {% if article.category == 'members' %}
          <div class="thumbnail">
            <div class="media">
              <div class="media-left">
                 <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{{ article.image }}" alt="..." style = "width:200px; height:200px" class="img-responsive">
               </div>
               <div class="media-left media-middle">
              		<h4 class="media-heading">{{article.name}} {{article.surname}}</h4>
            			<p>
            			   <span class="glyphicon glyphicon-phone-alt"></span> Office phone: {{article.office_phone}} </br>
            			   <span class="glyphicon glyphicon-briefcase"></span> Office address: {{article.office_address}} </br>
            			   <span class="glyphicon glyphicon-envelope"></span> Postal address: {{article.postal_phone}} </br>
            			   <span class="glyphicon glyphicon-education"></span> Groups: {{article.group}} </br>
            			</p>
        	      </div>
              </div>
            </div>

            <div class="thumbnail">
              <h2 style="text-align: center; color:#203864;"> Summary </h2>
               <p style="padding-right:20px;padding-left:10px">
                 {{ article.content }}
               </p>
            </div>
            {% if article.id != 'none' %}
                <div class="thumbnail">
                  <h2 style="text-align: center; color:#203864;"> Publication list</h2>
                  <ul>
                    {% for Category in ['Monographs and edited volumes','Journal articles', 'Book chapters', 'Conference publications','White papers','Magazine Articles','Working papers'] %}
                        {% for key, year, text, bibtex, url, author_id, category in publications %}
                         {% if category == Category and author_id == article.id %}
                          <h4 style="color:#203864;">{{Category}}</h4>
                          {% break %}
                         {% endif %}
                        {% endfor %}
                        <ul class="list-group">
                          <ul>
                            {% for key, year, text, bibtex, url, author_id, category in publications %}
                             {% if author_id == article.id and category == Category %}
                            <p>
                            <li id="{{ key }}">{{ text }}
                            </br>
                            {% for label, target in [('URL', url)] %}
                            {{ "[&nbsp;<a href=\"%s\">%s</a>&nbsp;]" % (target, label) if target }}
                            {% endfor %}
                            </p>
                            </li>
                             {% endif %}
                            {% endfor %}
                          </ul>
                        </ul>
                      {% endfor %}
                  </ul>
                </div>
            {% endif %}
    {% endif %}

    {% if article.category == 'projects' %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2>{{article.title}}</h2>
            </div>
          </div>
          <div class="thumbnail">
            <p><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{{ article.logo }}"  style = "width:200; height:200" /></p>
            <p>
              Project Code: {{article.project_code}}</br>
              Funding programme: Electronic Business</br>
              Funding Agency:General Secretariat of Research and Technology, Ministry of Development</br>
              Project type: {{article.project_type}}</br>
              Web site: {{article.web_site}}</br>
              Starting date: {{article.startdate}}</br>
              Ending date:{{article.enddate}}</br>
              ISTLab budget: {{article.our_budget}}</br>
              Total budget: {{article.total_budget}}</br>
              <hr>
              Scientific coordinator: {{article.coordinator}}</br>
              Contact: {{article.contact}}</br>
              Groups: {{article.groups}}</br>
            </p>
          </div>
          <div class="thumbnail">
            <h3 style="text-align: center; color: #203864">Description</h3>
            <p> {{ article.content }} </p>
          </div>
          <div class="thumbnail">
            <h3 style="text-align: center; color: #203864">Partners</h3>
            <p> {{article.partner_title}} ({{article.partner_country}}) </br>
              {% if article.partner_web_site%}
               <a href="{{article.partner_web_site}}">{{article.partner_web_site}}</a>
              {% endif %}
            </p>
          </div>
    {% endif %}

    {% if article.category == 'yearly_reports' %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2>Yearly Reports - {{article.title}}</h2>
            </div>
          </div>
          <div class="thumbnail">
            <h2 style="text-align: center; color:#203864;"> publications </h2>
            <ul>
              {% for Category in ['Monographs and edited volumes','Journal articles', 'Book chapters', 'Conference publications','White papers','Magazine Articles','Working papers'] %}
                  {% for key, year, text, bibtex, url, author_id, category in publications %}
                   {% if category == Category and year == article.title%}
                    <h4 style="color:#203864;">{{Category}}</h4>
                    {% break %}
                   {% endif %}
                  {% endfor %}
                  <ul class="list-group">
                    <ul>
                      {% for key, year, text, bibtex, url, author_id, category in publications %}
                       {% if year == article.title and category == Category %}
                        <p>
                        <li id="{{ key }}">{{ text }}
                        </br>
                        {% for label, target in [('URL', url)] %}
                          {{ "[&nbsp;<a href=\"%s\">%s</a>&nbsp;]" % (target, label) if target }}
                        {% endfor %}
                        </p>
                        </li>
                       {% endif %}
                      {% endfor %}
                    </ul>
                  </ul>
              {% endfor %}
            </ul>
          </div>
          <div class="thumbnail">
            <h2 style="text-align: center; color:#203864;"> Members </h2>
              <ul>
              	 {% for article2 in articles %}
              	 {% if article2.category == 'members' and article2.year == article.title%}
                  <h4 style="color:#203864;"> {{ article2.name }} {{ article2.surname }} </h4>
              	 {% endif%}
              	 {% endfor %}
             </ul>
         </div>
         <div class="thumbnail">
           <h2 style="text-align: center; color:#203864;"> Projects </h2>
           <ul>
             {% for Category in ['Current projects', 'Completed projects'] %}
                 {% for article2 in articles %}
                   {% if article2.category == 'projects'%}
                    <h4 style="color:#203864;">{{Category}}</h4>
                    {% break %}
                   {% endif%}
                 {% endfor %}
                 <ul class="list-group">
                   <ul>
                     {% for article2 in articles %}
                      {% if article2.category == 'projects' and article2.state == Category%}
                       <p>
                       <li>{{ article2.projtitle }}
                       </p>
                       </li>
                      {% endif %}
                     {% endfor %}
                   </ul>
                 </ul>
             {% endfor %}
           </ul>
        </div>
    {% endif %}

  </div>
{% endblock content %}

{% block title %}{{ SITENAME }} - {{ category }}{% endblock %}
