{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
  <div class="container">
    {% if article.category == 'members' or  article.category == 'associates' %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2> {{article.givenname}} {{article.surname}} </h2>
            </div>
            <div class="panel-body">
              <div class="media">
                <div class="media-left">
                  {% if article.photo %}
                  <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{{ article.photo }}" height="200" width="200" class="img-responsive" alt="...">
                  {% else %}
                  <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/lamp.png" alt="..." style = "width:200px; height:200px" class="img-responsive">
                  {% endif %}
                 </div>
                 <div class="media-left media-middle">
                		<!-- <h4 class="media-heading">{{article.name}} {{article.surname}}</h4> -->
              			<p>
                       <span class="glyphicon glyphicon-envelope"></span> E-mail: {{article.email}} </br>
              			   <span class="glyphicon glyphicon-phone-alt"></span> Office phone: {{article.office_phone}} </br>
              			   <span class="glyphicon glyphicon-briefcase"></span> Office address: {{article.office_address}} </br>
              			   <span class="glyphicon glyphicon-inbox"></span> Postal address: {{article.postal_address}} </br>
                       <span class="glyphicon glyphicon-globe"></span> Website: </br>
              			</p>
                    {% if (article.phd_title or article.phd_startdate) and article.phd_completed == '0' %}
                      <h4> Phd Thesis </h4>
                      <p> <b> Title:</b> {{article.phd_title}} </br>
                          <b> Supervisor:</b>
                           {% for art in articles %}
                              {% if art.category == 'members' %}
                                {% if art.id == article.phd_supervisor %}
                                    {{art.surname}} {{art.givenname}}</br>
                                {% endif %}
                              {% endif %}
                            {% endfor %}
                          <b> Starting day:</b> {{article.phd_startdate}} </br>
                          <!--<b> summary:</b> {{article.phd_summary}} </br> -->
                      </p>
                    {% endif %}
          	      </div>
                </div>
              </div>
            </div>

            <div class="panel panel-default" id="px2">
              <div class="panel-heading">
                <h3> Σύντομο βιογραφικό </h3>
              </div>
              <div class="panel-body">
                {{ article.content }}
              </div>
            </div>
            {% for key, year, text, bibtex, url, XEmember, category in publications %}
             {% if XEmember == article.id %}
                     <div class="row">
                       <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                         <nav>
                         <div class="panel panel-default" >
                           <div class="panel-heading">
                           Publications by Category:
                           </div>
                           <ul class="nav nav-pills nav-stacked">
                             {% for Category in ['Monographs and edited volumes','Journal articles', 'Book chapters', 'Conference publications','White papers','Magazine Articles','Working papers'] %}
                                 {% for key, year, text, bibtex, url, XEmember, category in publications %}
                                  {% if category == Category and XEmember == article.id %}
                                   <li><a href="#{{Category.partition(' ')[0]}}">{{Category}}</a></li>
                                 {% break %}
                                {% endif %}
                               {% endfor %}
                             {% endfor %}
                           </ul>
                           </ul>
                         </div>
                         </nav>
                       </div>
                       <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                         <div class="panel panel-default" id="px2">
                           <div class="panel-heading">
                             <h3> Publications</h3>
                           </div>
                           <div class="panel-body">
                             {% for Category in ['Monographs and edited volumes','Journal articles', 'Book chapters', 'Conference publications','White papers','Magazine Articles','Working papers'] %}
                                 {% for key, year, text, bibtex, url, XEmember, category in publications %}
                                  {% if category == Category and XEmember == article.id %}
                                   <h4 style="color:#203864;" id="{{Category.partition(' ')[0]}}">{{Category}}</h4>
                                   {% break %}
                                  {% endif %}
                                 {% endfor %}
                                 <ul class="list-group">
                                   <ul>
                                     {% for key, year, text, bibtex, url, XEmember, category in publications %}
                                      {% if XEmember == article.id and category == Category %}
                                     <p>
                                     <li id="{{ key }}">{{ text }}
                                     </br>
                                     {% for label, target in [('URL', url)] %}
                                     {{ "[&nbsp;<a href=\"%s\">%s</a>&nbsp;]" % (target, label) if target }}
                                     {% endfor %}
                                     </p>
                                     </li>
                                      {% endif %}
                                     {% endfor %}
                                   </ul>
                                 </ul>
                               {% endfor %}
                           </div>
                         </div>
                       </div>
                     </div>
                     {% break %}
               {% endif %}
              {% endfor %}
        {% endif %}

    {% if article.category == 'projects' %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2>{{ article.shortname }} &mdash; {{article.projtitle}}</h2>
            </div>
          </div>
          <div class="thumbnail">
            <p><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{{ article.logo }}"  style = "width:200; height:200" /></p>
            <p>
              Project Code: {{article.project_code}}</br>
              Funding programme: Electronic Business</br>
              Funding Agency:General Secretariat of Research and Technology, Ministry of Development</br>
              Project type: {{article.project_type}}</br>
              Web site: {{article.web_site}}</br>
              Starting date: {{article.startdate}}</br>
              Ending date:{{article.enddate}}</br>
              ISTLab budget: {{article.our_budget}}</br>
              Total budget: {{article.total_budget}}</br>
              <hr>
              Scientific coordinator: {{article.scientific_coordinator}}</br>
              Contact: {{article.contact}}</br>
              Project manager: {{article.project_manager}}</br>
            </p>
          </div>
          <div class="thumbnail">
            <h3 style="text-align: center; color: #203864">Description</h3>
            <p> {{ article.content }} </p>
          </div>
          <div class="thumbnail">
            <h3 style="text-align: center; color: #203864">Partners</h3>
                  {% if article.partner_title1%}
                  <p> {{article.partner_title1}} ({{article.partner_country1}}) </br>
                    {% if article.partner_web_site1%}
                     <a href="{{article.partner_web_site}}">{{article.partner_web_site1}}</a>
                    {% endif %}
                  </p>
                  {% endif %}
                  {% if article.partner_title2%}
                  <p> {{article.partner_title2}} ({{article.partner_country2}}) </br>
                    {% if article.partner_web_site2%}
                     <a href="{{article.partner_web_site}}">{{article.partner_web_site2}}</a>
                    {% endif %}
                  </p>
                  {% endif %}
                  {% if article.partner_title3%}
                  <p> {{article.partner_title3}} ({{article.partner_country3}}) </br>
                    {% if article.partner_web_site3%}
                     <a href="{{article.partner_web_site}}">{{article.partner_web_site3}}</a>
                    {% endif %}
                  </p>
                  {% endif %}
                  {% if article.partner_title4%}
                  <p> {{article.partner_title4}} ({{article.partner_country4}}) </br>
                    {% if article.partner_web_site4%}
                     <a href="{{article.partner_web_site}}">{{article.partner_web_site4}}</a>
                    {% endif %}
                  </p>
                  {% endif %}
          </div>
    {% endif %}

    {% if article.category == 'yearly_reports' %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2>Yearly Report {{article.title}}</h2>
            </div>
          </div>
          <div class="row">
            <div class="hidden-xs hidden-sm col-md-3 col-lg-3 col-xl-3" id="print">
              <nav id="myScrollspy" data-spy="affix" data-offset-top="50" style="position: fixed;">
              <div class="panel panel-default" >
                <div class="panel-heading">
                Search by Category:
                </div>
                <ul class="nav nav-pills nav-stacked">
                  {% for key, year, text, bibtex, url, XEmember, category in publications %}
                   {% if year == article.title%}
                    <li><a href="#publications">New publications</a></li>
                    {% break %}
                   {% endif %}
                  {% endfor %}
                  {% for article2 in articles %}
                     {% if article2.category == 'projects' and (article2.endyear == article.title or article.state == 'Current projects')%}
                        <li><a href="#projects">Projects</a></li>
                        {% break %}
                      {% endif %}
                  {% endfor %}
                  {% for article2 in articles %}
                     {% if article2.category == 'members' and article2.year == article.title%}
                        <li><a href="#members">New Members</a></li>
                        {% break %}
                      {% endif %}
                  {% endfor %}
                </ul>
              </div>
              </nav>
            </div>
            <div class="col-xs-12 col-sm-12 hidden-md hidden-lg hidden-xl" id="print">
              <nav>
              <div class="panel panel-default" >
                <div class="panel-heading">
                Search by Category:
                </div>
                <ul class="nav nav-pills nav-stacked">
                  {% for key, year, text, bibtex, url, XEmember, category in publications %}
                   {% if year == article.title%}
                    <li><a href="#publications">New publications</a></li>
                    {% break %}
                   {% endif %}
                  {% endfor %}
                  {% for article2 in articles %}
                     {% if article2.category == 'projects' and (article2.endyear == article.title or article.state == 'Current projects')%}
                        <li><a href="#projects">Projects</a></li>
                        {% break %}
                      {% endif %}
                  {% endfor %}
                  {% for article2 in articles %}
                     {% if article2.category == 'members' and article2.year == article.title%}
                        <li><a href="#members">New Members</a></li>
                        {% break %}
                      {% endif %}
                  {% endfor %}
                </ul>
              </div>
              </nav>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
              {% for key, year, text, bibtex, url, XEmember, category in publications %}
               {% if year == article.title%}
                 <div class="panel panel-default" id="px2">
                   <div class="panel-heading">
                       <h3 id="publications">Publications</h3>
                   </div>
                   <div class="panel-body">
                     {% for Category in ['Monographs and edited volumes','Journal articles', 'Book chapters', 'Conference publications','White papers','Magazine Articles','Working papers'] %}
                         {% for key, year, text, bibtex, url, XEmember, category in publications %}
                          {% if category == Category and year == article.title%}
                           <h4 style="color:#203864;">{{Category}}</h4>
                           {% break %}
                          {% endif %}
                         {% endfor %}
                         <ul class="list-group">
                           <ul>
                             {% for key, year, text, bibtex, url, XEmember, category in publications %}
                              {% if year == article.title and category == Category %}
                               <p>
                               <li id="{{ key }}">{{ text }}
                               </br>
                               {% for label, target in [('URL', url)] %}
                                 {{ "[&nbsp;<a href=\"%s\">%s</a>&nbsp;]" % (target, label) if target }}
                               {% endfor %}
                               </li>
                               </p>
                              {% endif %}
                             {% endfor %}
                           </ul>
                         </ul>
                     {% endfor %}
                   </div>
                 </div>
                {% break %}
               {% endif %}
              {% endfor %}
              {% for article2 in articles %}
                 {% if article2.category == 'projects' and (article2.endyear == article.title or article.state == 'Current projects')%}
                     <div class="panel panel-default" id="px2">
                       <div class="panel-heading">
                          <h3 id="projects">Projects</h3>
                       </div>
                       <div class="panel-body">
                          {% for Category in ['Current projects', 'Completed projects'] %}
                             {% for article2 in articles %}
                               {% if article2.category == 'projects' and (article2.state == 'Current projects' or article2.endyear == article.title) %}
                                <h4 style="color:#203864;">{{Category}}</h4>
                                {% break %}
                               {% endif%}
                             {% endfor %}
                             <ul class="list-group">
                               <ul>
                                 {% for article2 in articles %}
                                  {% if article2.category == 'projects' and article2.state == Category%}
                                    {% if Category == 'Completed projects' and article2.endyear == article.title%}
                                       <p>
                                       <li><a href="{{ SITEURL }}/{{ article2.url }}">{{ article2.shortname }} - {{article2.projtitle}}</a></li>
                                       </p>
                                     {% elif Category =='Current projects' %}
                                       <p>
                                       <li><a href="{{ SITEURL }}/{{ article2.url }}">{{ article2.shortname }} - {{article2.projtitle}}</a></li>
                                       </p>
                                     {% endif %}
                                  {% endif %}
                                 {% endfor %}
                               </ul>
                             </ul>
                          {% endfor %}
                       </div>
                    </div>
                    {% break %}
                  {% endif %}
              {% endfor %}
            {% for article2 in articles %}
               {% if article2.category == 'members' and article2.year == article.title%}
                   <div class="panel panel-default" id="px2">
                     <div class="panel-heading">
                         <h3 id="members">New members</h3>
                     </div>
                     <ul class="list-group">
                        {% for article2 in articles %}
                        {% if (article2.category == 'members' or article2.category == 'associates') and article2.year == article.title%}
                         <li class="list-group-item"><a href="{{ SITEURL }}/{{ article2.url }}">
                           {{ article2.givenname }} {{ article2.surname }} {% if article2.phd_title or article2.phd_startdate %}(PhD student){% endif %}
                         </a></li>
                        {% endif%}
                        {% endfor %}
                    </ul>
                  </div>
                  {% break %}
                {% endif %}
            {% endfor %}

          </div>
        </div>
    {% endif %}

  </div>
{% endblock content %}

{% block title %}{{ article.title }}{% endblock %}
