{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
  {% if articles %}
    <div class = "container">
        {% if category == 'members' %}
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2>Members</h2>
                </div>
              </div>
              {% for article in articles_page.object_list %}
        				<div class="col-xs-6 col-sm-4 col-md-3">
        				  <div class="thumbnail">
        					<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{{ article.image }}" height="200" width="200" class="img-responsive" alt="...">
        					<div id="px1" class="caption">
        					  <h3>{{article.name}} {{article.surname}}</h3>
        					  <p><b>Groups</b>  : {{article.group}}</p>
        					  <a href="{{ SITEURL }}/{{ article.url }}" class="button">See More</a>
        					</div>
        				  </div>
        				</div>
                {% endfor %}

        {% elif category == 'yearly_reports'%}
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h2>Yearly Reports</h2>
                  </div>
                </div>

                 <div class="panel panel-default" id="px2">
                  <div class="panel-heading">
                    <h3 class="panel-title">ISTLab Yearly Reports</h3>
                  </div>
                  <ul class="list-group">
                    {% for article in articles_page.object_list %}
                       <a href="{{ SITEURL }}/{{article.url}}"><li class="list-group-item">Yearly Report {{article.title}}</li></a>
                    {% endfor %}
                  </ul>
                </div>
          {% else %}
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h2>Projects</h2>
                  </div>
                </div>
                <div class="row">
              		<div class="hidden-xs hidden-sm hidden-md col-lg-3 col-xl-3">
              		  <nav id="myScrollspy" data-spy="affix" data-offset-top="50" style="position: fixed;">
                			<div class="panel panel-default" >
                			  <div class="panel-heading">
                				Title:
                			  </div>
                			  <ul class="nav nav-pills nav-stacked">
                						<li><a href="#Current projects">Current projects</a></li>
                						<li><a href="#Completed projects">Completed projects</a></li>
                			  </ul>
                			</div>
              		  </nav>
              		</div>
              		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                       {% for Category in ['Current projects', 'Completed projects'] %}
                         <div id="{{Category}}">
                            <div class="panel panel-default" id="px2">
                             {% for article in articles %}
                               {% if article.category == 'projects'%}
                                 <div class="panel-heading">
                                   <h3>{{Category}}</h3>
                                 </div>
                                {% break %}
                               {% endif%}
                             {% endfor %}
                             <ul class="list-group">
                                 {% for article in articles %}
                                  {% if article.category == 'projects' and article.state == Category%}
                                   <a href="{{ SITEURL }}/{{ article.url }}"><li class="list-group-item"> {{ article.title }}</li></a>
                                  {% endif %}
                                 {% endfor %}
                             </ul>
                           </div>
                         </div>
                       {% endfor %}
              	 </div>
          {% endif %}
    </div>
  {% endif %}
{% endblock content %}

{% block title %}{{ SITENAME }} - {{ category }}{% endblock %}
