{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}

    <div class="container">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Business Analytics Lab</h2>
        </div>
        <div class="panel-body">
          <p>
            Welcome to the Information Systems Technology Laboratory (ISTLab), established at the Department of Management Science and Technology
            of the Athens University of Economics and Business. Here we explore, research, create, formulate, and integrate engineering and management
            practices to increase the effectiveness of the information systems and their realisation and adoption process.
          </p>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">To reach our goal we follow a number of interrelated paths:</h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item"><b>Software:</b> programming languages, software engineering tools, and open source software</li>
          <li class="list-group-item"><b>Management of computing information systems:</b> security and protection</li>
          <li class="list-group-item"><b>Social, organizational and political aspects of ICTs:</b> virtual communities, electronic collaboration, inter-organizational networks, and e-goverment </li>
          <li class="list-group-item"><b>Information systems:</b> analysis, development and adoption</li>
          <li class="list-group-item"><b>Design, management and evaluation of enterprise technolgies:</b> e-Learning, knowledge management, and enterprise resource planning systems</li>
          <li class="list-group-item"><b>Mobile, Wireless, and Sensor-based Computing:</b> Applications and Services, Business Models</li>
          <li class="list-group-item"><b>Pervasive and Ubiquitous Information Systems:</b> Design, Analysis, and Technology Acceptance</li>
        </ul>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">ISTLab consists of five federated research groups:</h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item"><b>IRIS:</b> Interdisciplinary Research on the Information Society, headed by <i>Nancy Pouloudi</i></li>
          <li class="list-group-item"><b>OIS:</b> Organizational Information Systems, headed by <i>Angeliki Poulymenakou</i></li>
          <li class="list-group-item"><b>SENSE:</b> Software Engineering and Security, headed by <i>Diomidis Spinellis</i></li>
          <li class="list-group-item"><b>WRC:</b> Wireless Research Center, headed by <i>George Giaglis</i></li>
          <li class="list-group-item"><b>CUBE:</b> Center of stUdies on Business intelligencE, headed by <i>Damianos Chatziantoniou</i></li>
        </ul>
      </div>
   </div>
{% endblock content %}
