{% extends "base.html" %}
{% block title %}Publications{% endblock %}
{% block content %}


<script type="text/javascript">
    function disp(s) {
        var win;
        var doc;
        win = window.open("", "WINDOWID");
        doc = win.document;
        doc.open("text/html");
        doc.write("<pre>" + s + "</pre>");
        doc.close();
    }
</script>
<div class = "container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Publications</h2>
    </div>
  </div>
	<div class="row">
		<div class="hidden-xs hidden-sm hidden-md col-lg-3 col-xl-3">
		  <nav id="myScrollspy" data-spy="affix" data-offset-top="50" style="position: fixed;">
			<div class="panel panel-default" >
			  <div class="panel-heading">
				Title:
			  </div>
			  <ul class="nav nav-pills nav-stacked">
				<li><a href="#Monographs and edited volumes">Monographs and edited volumes</a></li>
						<li><a href="#Journal articles">Journal articles</a></li>
						<li><a href="#Journal articles">Book chapters</a></li>
						<li><a href="#Conference publications">Conference publications</a></li>
						<li><a href="#White papers">White papers</a></li>
						<li><a href="#Magazine Articles">Magazine Articles</a></li>
						<li><a href="#Working papers">Working papers</a></li>
			  </ul>
			</div>
		  </nav>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
      {% for Category in ['Monographs and edited volumes','Journal articles', 'Book chapters', 'Conference publications','White papers','Magazine Articles','Working papers'] %}
          <div id="{{Category}}">
             <div class="panel panel-default" id="px2">
               {% for key, year, text, bibtex, url, author_id, category in publications %}
                {% if category == Category %}
                     <div class="panel-heading">
                       <h3>{{Category}}</h3>
                     </div>
                     {% break %}
                {% endif %}
               {% endfor %}
               <ul class="list-group">
                 <ul>
                   {% for key, year, text, bibtex, url, author_id, category in publications %}
                    {% if category == Category %}
                       <p>
                       <li id="{{ key }}">{{ text }}
                       </br>
                       {% for label, target in [('URL', url)] %}
                       {{ "[&nbsp;<a href=\"%s\">%s</a>&nbsp;]" % (target, label) if target }}
                       {% endfor %}
                       </p>
                       </li>
                    {% endif %}
                   {% endfor %}
                 </ul>
               </ul>
             </div>
          </div>
      {% endfor %}
	 </div>
	</div>
</div>
{% endblock %}
