{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
<div class='container'>
{% if articles %}
  
  <div class="row">
	<div class="panel panel-default">
	  <div class="panel-heading">
		<h2>Publications</h2>
	  </div>
	</div>
  </div>
  <div class = "col-sm-3">
  <nav id="myScrollspy">
	<ul class="nav nav-pills nav-stacked" style="position: fixed;">
	<li class="active"><a href="#section1">Monographs and edited volumes</a></li>
	<li><a href="#section2">Journal articles</a></li>
	<li><a href="#section3">Book chapters</a></li>
	<li><a href="#section4">Conference publications</a></li>
	<li><a href="#section5">White papers</a></li>
	<li><a href="#section6">Magazine Articles</a></li>
	<li><a href="#section7">Working papers</a></li>
	</ul>
  </nav>
  </div>
  <div class="col-sm-9">
	<div id="section1">
	  <div class="panel panel-default" id="px2">
	  <div class="panel-heading">
	   <h3>Monographs and edited volumes</h3>
	  </div>
	  <ul class="list-group">
		{% for article in articles_page.object_list %}
		{% if article.publication_type == 'monographs' %}
		<li class="list-group-item"> {{ article.author }} <a href="{{article.url}}">{{article.title}}.</a>
			 {{article.volume}}({{article.number}}): {{article.pages}}, {{article.month}} {{article.year}}.{{article.note}}
	   </li>
		{% endif%}
		{% endfor %}
	  </ul>
	 </div>
   </div>
   <div id="section2">
	 <div class="panel panel-default" id="px2">
	<div class="panel-heading">
	  <h3>Journal Articles</h3>
	</div>
	  <ul class="list-group">
		{% for article in articles_page.object_list %}
		{% if article.publication_type == 'journal_articles' %}
		<li class="list-group-item"> {{ article.author }} <a href="{{article.url}}">{{article.title}}.</a>
			 {{article.volume}}({{article.number}}): {{article.pages}}, {{article.month}} {{article.year}}.{{article.note}}</li>
		{% endif%}
		{% endfor %}
	 </ul>
	</div>
  </div>
</div>
 
{% else %}
<h2> there arent any publications</h2>
{% endif %}
</div>
{% endblock content %}

{% block title %}{{ SITENAME }} - {{ tag }}{% endblock %}
